

#preload-01 { background: url(works/2.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(works/5.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(works/7.png) no-repeat -9999px -9999px; }
#preload-04 { background: url(works/8.png) no-repeat -9999px -9999px; }
#preload-05 { background: url(works/10.png) no-repeat -9999px -9999px; }
#preload-06 { background: url(works/16.png) no-repeat -9999px -9999px; }
#preload-07 { background: url(works/trianglepainting.png) no-repeat -9999px -9999px; }


html, body {
  size: 100%;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}


.pieces img{
  width: 100%;
  height: 100%;
  margin: 0;
}


body {
  /*background-image: url("staticslow.gif");*/
  background-color: #0B0B0B;
 
}

#products-body {
  overflow-x: hidden;
  overflow-y: auto;
}

div{
  margin: 0;
}

a:link{
  text-decoration: none !important;
  color: #756182;
}

a:visited{
  color: #756182;
}

.mainsplash a:link{
  text-decoration: none !important;
  color: brown;
}

.mainsplash a:visited{
  text-decoration: none !important;
  color: brown;
}


p {
}

.pieces {
	top:10%;
	left: 50%;
 	transform: translate(-50%, 0);
	position: fixed;
}

/* MAKE RESPONSIVE */

.pieces img {

	width: auto;
	height: auto;
  min-width: 220px;
  max-height: 420px;
  max-width: 95%;
  overflow: auto;
	text-align: center;
	-webkit- transition: all 3.5s;
	transition: all 1.6s;
}

.pieces img.large {
	max-width: 100%;
  max-height: auto;
	height: auto;
  overflow: auto;
	text-align: center;
	-webkit- transition: all 3.5s;
	transition: all 3.2s;
}

/* MAKE RESPONSIVE */

.oddpiece img {
	top:10%;
	left: 50%;
 	transform: translate(-50%, 0);
	position: fixed;
	width: 210px;
	height: auto;
  overflow: auto;
	text-align: center;
	-webkit- transition: all 3.5s;
	transition: all 1.6s;
}

.oddpiece img.large {
	width: 220px;
	height: auto;
	text-align: center;
  overflow: auto;
	-webkit- transition: all 3.5s;
	transition: all 3.2s;
}


.details {
  position: fixed;
  bottom: 9%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.95;
  font-size: 10.5px;
  font-style: italic;
  color: lightgrey;
  font-family: sans-serif;
  letter-spacing: 5px;
  z-index: 5;
  display:none;
}

.odddetails {
  position: fixed;
  bottom: 46%;
  right: 18%;
  opacity: 0.95;
  font-size: 10.5px;
  font-style: italic;
  color: lightgrey;
  font-family: sans-serif;
  letter-spacing: 5px;
  z-index: 5;
  display:none;
}



.spaced:hover {
  letter-spacing: 3px;
  color: brown;
  transition: color, letter-spacing, 1s ease-in-out;
}


.mainsplash {
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  opacity: 1;
  color: #0B0B0B;
  text-shadow: 40px, 40px, 40px;
  text-align: left;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: default;
  display: inline-block;
}

.bio {
  position: absolute;
  text-align: left;
  top: 30px;
  display: none;
  color: darkgrey;
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  letter-spacing: 5px;
}

.hiddenback {
	background-color: none;
	left: 0%;
	height: 27vh;
	width: 25vw;
	top: 0%;
	opacity: 1;
	position: absolute;
	display: inline-block;
}

#legend {
  z-index: 300;
}

#hidden-nav {
  top: 28%;
  left: 90%;
  width: 13vw;
  height: 500px;
  z-index: 100;
  background: none;
}

#hidden-nav:hover #glass-nav {
  left: 11.25%;
}

#glass-nav{
  background: url(../img/glass.png);
  height: 340px;
  width: 200px;
  top: 10%;
  left: 90%;
  position: relative;
  background: cover;
  transform: translate(-11%);
  transition: 0.88s linear;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(100px);
  filter: drop-shadow(7.6px 7.6px 2.4px #2b2b2b);
  font-family: serif;
  color: black;
  border: 1px solid #fcfcfc;
}

#glass-nav-wrapper {
  overflow-x: hidden;
  position: relative;
  height: 55vh;
}

#legend a{
  color: black;
  font-size: 20px;
  text-decoration: none;
}

#legend {
  text-align: center;
  top: 20%;
  right: 9.48%;
  position: relative;
  letter-spacing: 3px;
  line-height: 50px;
}

.navimg {
  height: 37.44px;
  width: 37.44px;
  filter: drop-shadow(0px);
  border: 1px solid black;
  border-radius: 100%;
}

.navimg:hover {
  transform: scale(1.05);
}


}
.hiddenback_main {
	background-color: #0B0B0B;
	left: 0%;
	height: 20vh;
	width: 28vw;
	top: 0%;
	opacity: 1;
	position: absolute;
	display: inline-block;
    z-index: 5;


}


.mainsplash_main {
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  opacity: 0;
  text-shadow: 40px, 40px, 40px;
  text-align: left;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: default;
  width: 100px;
  z-index: 5;
  position: absolute;

}


.spaced {
  letter-spacing: 1px;
  transition: all 0.008s ease-in;
  position: fixed;

}



.slick-slide {
  padding: 50px;


}


.artslide h1{
  opacity: 0;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 6px;
  font-family: 'Sniglet', cursive;
  font-size: 19px;
  color: #2b2b2b;
  transition: 0.002s;
}

.artslide p {
  text-align: center;
  font-size: 10.44px;
  padding: 0px;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  color: #0456db;
  opacity: 0;
  transition: 0.002s;

}

.slick-center .artslide img {
  transform: scale(1.0045);
  transition: 0.4s;
  opacity: 1;
  filter: drop-shadow(5px 5px 3px #d6d6d6);
}


/* Center only */





.slick-slide:hover .artslide h1 {
  opacity: 0.07;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slick-slide:hover .artslide p  {
  opacity: 0.06;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.slick-center:hover .artslide h1 {
  opacity: 0.99;
  transition: 0.6s;
}

.slick-center:hover .artslide p  {
  opacity: 0.93;
  transition: 0.6s;
}


.slick-center:hover .artslide img  {
  transform: scale(1.08);
  transition: 0.6s;
  filter: drop-shadow(3px 17px 8px #6d6d6d);
}

.slick-center:hover .artslide h1  {
  /*padding-top: 64.88px;
  padding-bottom: 8.5px;*/
  transition: 1.093s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.slick-center .artslide img  {
 
}

/* When clicking center slides, other slides fade out... fix this

.slick-center:hover + .slick-slide .artslide img {
  opacity: 0;
}

*/


/*

.artslide:hover h1 {
  opacity: 1;
  transition: 0.6s;
}

.artslide:hover p {
  opacity: 1;
  transition: 0.6s;
}

*/

.slideworks img {
  height: auto;
  width: 200px;
  max-width: 344px;
  filter: drop-shadow(5px 5px 3px #d6d6d6);
  transition: 0.1s;
  padding: 20px;
  vertical-align: middle;
}


/*.artslide img:hover {
  transform: scale(1.0098);
  transition: 0.3s;
}*/


.slideworks {
  top: 10%;
  padding-top: 6vh;
  width: 100%;
  height: 70%;
  background: none;
}


.artslide::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}


.artslide img {
  width: auto;
  vertical-align: middle;
  display: inline-block;
  opacity: 0.2;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  filter: grayscale(20%) blur(0.02rem);
}


.artslide {
  text-align: center;
}


.slick-initialized .slick-slide {
  float: none;
  display: inline-block;
  vertical-align: middle;
}


#backbtn {
  opacity: 0;
  letter-spacing: 2.5px;
  font-size: 15px;
  color: brown;
  font-family: serif;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
}


#backbtn:hover a {
	opacity: 1;
}


.hiddenlogo {
  opacity: 0;
  right: 4px;
  bottom: 1px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  position: fixed
}


pre {
	font-size: 0.5vw; color: darkgrey; opacity: 0.44;
}


#plaintext {
  font-family: serif;
  opacity: 0.70;
  text-shadow: 1px 0px 20px yellow;
  z-index: 5;
}


#status {
  font-family: monospace;
  color: white;
  font-size: 17px;
  z-index: -1;
  letter-spacing: 0.4px;
  text-shadow: 1px 2px white;
  text-align: center;
}


.hiddenlogodiv {
	background-color: #0B0B0B;
	right: 0%;
	height: 25vh;
	width: 5vw;
	bottom: 0%;
	position: absolute;
	display: inline-block;
}


.hiddenback:hover #backbtn {
	opacity: 0.87;
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease; 
}


.hiddenback_main:hover .mainsplash_main {
	opacity: 0.37;
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease; 
}


.hiddenlogodiv:hover .hiddenlogo {
	opacity: 1;
	-webkit-transition: all 2s ease;
  	-moz-transition: all 2s ease;
  	-o-transition: all 2s ease;
  	transition: all 2s ease; 
}


#paintinglayers{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 34%;
  left: 30%;
}

#paintingbottomimg {
  z-index: 0;
  /*animation: spin-left 40s linear infinite;*/
}


#paintingtopimg {
  position: fixed;
  transform: rotate(-22deg);
  -webkit-filter: saturate(160%); /* Safari 6.0 - 9.0 */
  filter: saturate(160%);
  z-index: 2;
  top: 31%;
  left: 30%;
  height: 120px;
  width: auto;

  /* Glitter Gif*/

  /*transform: rotate(30deg);
  left: 32%;
  top: 37%;
  height: 139px;
  width: 30px;
  top: 31%;
  left: 68%;*/



  /*change bg on hover*/
}

#paintingtopimg:hover {
}

#paintingbottomimg:hover {
  opacity: 0.98;
}


#products-pg {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;


}

.products-slide {
  width: 97vw;
  height: 97vh;
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  z-index: 0;


}

.products-wrapper {
  position: relative;
  left: 0;
  right: 0;
  min-height: 300px;
  height: 50%;
  width: 50%;
  display: inline-flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.products-wrapper a{
  text-decoration: none;
  display: inline-flex;
  
}

.product-info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  font-family: 'Muli', sans-serif;
  color: #fcfcfc;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

.product-name {
  position: relative;
  font-size: 19px;
  font-weight: normal;
}

.product-desc {
  position: relative;
  font-size: 13px; 
  font-style: italic;
  font-weight: normal;
}

.mobile-caption-wrapper {
  display: none;
}

.product-img-wrapper {
  position: relative;
  height: 85%;
  width: auto;
  margin: 0 auto;
  display: inline-flex;
  text-align: center;
  align-items: center;



}

.product-img-wrapper img {
  margin: 1vw;
  position: relative;
  height: 56%;
  display: inline-block;
  padding: 1vw;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: drop-shadow(2px 2px 3px #1f1f1f);


}
.product-img-wrapper:hover {
  transform: scale(1.02);
  transition: 0.66s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

 .product-img-wrapper:hover img {
  filter: drop-shadow(3px 3px 10px #1f1f1f);

} 

.product-text-wrapper-l, .product-text-wrapper-r {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  min-height: 500px;
  min-width: 100px;
  height: 95vh;
  width: 20%;
  font-family: 'Muli', sans-serif;
  color: #2a3984;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1.5px;



}

.product-title {
  font-weight: 400;
}

.product-text-wrapper-l p, .product-text-wrapper-r  p {
  line-height: auto;
  margin: 10px;
  padding: 8px;
  display: inline-block;
  vertical-align: middle;


}

.product-text-wrapper-l {
  text-align: right;
  left: 8%; 
}
.product-text-wrapper-r {
  text-align: left;
  right: 8%;
}

.product-text-wrapper-l p {
  margin-right: 7%;
 
}

.product-text-wrapper-r p {
  margin-left: 7%;

}


.resize {
  display: inline-block;
  white-space: nowrap;
  height:100%;

}

.bigger-woman-txt{
    opacity: 0;
}



.fit-window {
  background: black;
  height: 300px;
  width: 300px;
}






.marquee {
    animation: marquee 10s linear infinite;

}

#fashion {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
}

#productvid {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 100px;
  cursor: pointer;
  border-radius: 15%;
  width: 475px;
  height: auto;
}

#productvid:hover {
  opacity: 0.9;
  animation: spin-right-frmcenter-regular 0.5s linear;
}

#productplaceholderimg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 5;
  padding: 100px;
  cursor: pointer;
  border-radius: 15%;
  width: 475px;
  height: auto;
}

#nav-bar {
  width: 100%;
  height: 50px;
  padding: 8.2px;
  display: none;
  background: #fcfcfc;
}
#shapes-nav-wrapper{
  width: 66%;
  text-align: center;
  background: none;
  position: absolute;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  left: 0;
  margin-top: 0;
  right: 0;

}

#shapes-nav {
  text-align: justify;
  min-width: 240px;
  background: none;
  padding: 0;
  margin: 0;

}

#shapes-nav:after {
  content: '';
  width: 100%;
  display: inline-block;


}

#shapes-nav li {
  display: inline-block;
  background: none;
  margin: 0;
  padding: 0;

}

.shape-img {
  padding: 0;
  margin: 0;
  height: 50px;
  width: 50px;
}

.shape-img:hover {
  transform: scale(1.045);
}

.shape-img-primary {
  height: 133px;
  width: 133px;
}

#shapes-index {
  width: 55%;
  text-align: center;
  background: none;
  position: absolute;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  left: 0;
  top: 41.88%;
  margin-top: 0;
  right: 0;
}




@media only screen and (max-width: 900px) {


.product-text-wrapper-l, .product-text-wrapper-r {
  display: none;
}

.products-wrapper {
  height: auto;
  width: 100%;
  max-width: 200px;
  margin: 25px;
  padding: 10px;
  padding-top: 150px;



}
.products-slide {
  flex-direction: column;
  padding: 0;
  margin: 0 auto;


}

.product-img-wrapper {
  position: relative;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: inline-flex;
  text-align: center;
  align-items: center;

}

.product-img-wrapper img {
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: auto;
  display: inline-block;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

}

#bigger-woman-back {
  display: none;
}

.product-img-wrapper:hover {
  transform: scale(1.02);
  transition: 0.66s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;


}

 .product-img-wrapper:hover img {

} 

.mobile-caption-wrapper {

  position: relative;
  display: inline-block;
  font-family: 'Muli', sans-serif;
  color: #2a3984;
  width: 80%;
  height: auto;
  font-size:  calc(1em + 0.5vw);
  margin: 1.33em;
  padding: 1.33em;


}

.mobile-caption {
  
}



#productvid {
  width:  80vw;
  height: auto;
}

#productplaceholderimg {
  width:  80vw;
  height: auto;
}

.slideworks {
  padding-top: 6vh;
}

.slideworks img {
  max-width: 273px;
  max-height: auto;


}




.artslide h1{
  font-size: 19.66px;
  padding-top: 41px;
}

.artslide p {
  font-size: 10.17px;
  padding-top: 3.3px;

}



#hidden-nav {
  top: 25%;
  left: 80%;
  width: 145px;
  height: 400px;
  z-index: 100;
  background: none;
}


#hidden-nav:hover #glass-nav {
  left: 9%;
}

#glass-nav{
  left: 120%;
  position: relative;
  top: 30px;
  width: 100px;
}

.navimg {
  height: 20px;
  width: 20px;

}

#legend {
  right: 3.6%;
}

.oddpiece img {
  top:10%;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  width: 170px;
  height: auto;
  overflow: auto;
  text-align: center;
  -webkit- transition: all 3.5s;
  transition: all 1.6s;
  /*border: 1.7px solid #191919;*/
  border-radius: 0.5px;
  padding: 28px;

 
}

.oddpiece img.large {
  width: 178px;
  height: auto;
  text-align: center;
  overflow: auto;
  -webkit- transition: all 3.5s;
  transition: all 3.2s;
  border: none;
  /*border: 1.7px solid black;*/
  border-radius: 0.5px;
  padding: 10px;
}

.pieces {
  top: 26%;
  left: 39.5%;
  width: 200px;
  transform: translate(-50%, 0);
  position: fixed;

}


.pieces img {

  width: auto;
  height: auto;
  max-width: 95%;
  overflow: auto;
  text-align: center;
  -webkit- transition: all 3.5s;
  transition: all 1.6s;
  /*border: 1.7px solid #191919;*/
  border-radius: 0.5px;
  padding: 28px;
}

.pieces img.large {
  max-width: 100%;
  max-height: auto;
  width: 300px;
  height: auto;
  overflow: auto;
  text-align: center;
  -webkit- transition: all 3.5s;
  transition: all 3.2s;
  /*border: 1.7px solid black;*/
  border-radius: 1px;
}

.details {
  position: fixed;
  bottom: 15%;
  left: 53.5%;
  transform: translate(-50%, 0);
  opacity: 0.95;
  font-size: 9px;
  font-style: italic;
  color: lightgrey;
  font-family: sans-serif;
  letter-spacing: 5px;
  z-index: 5;
  display:none;
}

 .odddetails {
  top: 90%;
  font-size: 9px;
 }

 #woodpiece{
  top: 17%;
 }

 #skullpiece {
  top: 34%;
 }

 #paintinglayers{
  top: 28%;
  left: 50%;
 }

 #products {
  top: 71%;
  left: 50%;

 }
 #productsimg {
  height: 240px;
  width: auto;
 }
 #status {
  position: absolute;
  width: 100%;
  left: 25%;
  font-family: sans-serif;
  color: blue;
 }
 #fashion {
  position: absolute;
  left: 50%;
 }



}

@media only screen and (max-width: 500px){

#nav-bar {
  display: block;
}

#shapes-index{
  height: 100%;
  left: 8%;
  top: 12%;
  background: none;
  max-width: 160px;
  margin: 0 auto;
  line-height: 200px;
}


.slick-center:hover .artslide h1  {
  padding-top: 37.88px;
  padding-bottom: 6px;
  transition: 1.093s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.slick-center:hover .artslide img  {
  transform: scale(1.033);
  transition: 0.6s;
  padding: 12.88px;
  filter: drop-shadow(3px 17px 8px #6d6d6d);
}


}



@media only screen and (min-width: 501px) and (max-width: 800px) {

#shapes-index{
  height: 100%;
  max-width: 160px;
  top: 15%;
  left: 6.33%;
  margin: 0 auto;
  line-height: 200px;
}

}





@media only screen and (min-height: 1001px) and (max-height: 1200px) {


    .slideworks {
      top: 3.33%;
    }

    .artslide h1{
      font-size: 19.88px;
      padding-top: 48px;
    }

    .artslide p {
      font-size: 10.5px;
      padding-top: 2px;

    }





}



@media only screen and (min-height: 801px) and (max-height: 1000px) {


    .slideworks {
      top: 3.33%;
    }

    .artslide h1{
      font-size: 16.7px;
      padding-top: 33px;
    }

    .artslide p {
      font-size: 8.1px;

    }

    .artslide img {
      width: 300px;
    }



}



@media only screen and (min-height: 691px) and (max-height: 800px) {


    .slideworks {
      top: 3.33%;
    }

    .artslide h1{
      font-size: 16.7px;
      padding-top: 15px;
    }

    .artslide p {
      font-size: 8.1px;

    }

    .artslide img {
      width: 220px;
    }


    .navimg {
     height: 20px;
     width: 20px;

    }

    #glass-nav {
      height: 300px;
      width: 100px;
    }


    #hidden-nav:hover #glass-nav {
      left: 25.25%;
    }

    #shapes-index{

    }


    .shape-img-primary {
      height: 123px;
      width: 123px;
    }



}


@media only screen and (min-height: 581px) and (max-height: 690px) {


    .slideworks {
      top: 0.33%;

    }

    .artslide h1{
      font-size: 15.7px;
      padding-top: 12px;
    }

    .artslide p {
      font-size: 8px;

    }

    .artslide img {
      width: 199px;
    }

    #glass-nav-wrapper {
      height: 100vh;
    }

    .navimg {
     height: 20px;
     width: 20px;

    }

    #glass-nav {
      height: 300px;
      width: 100px;
    }


    #hidden-nav:hover #glass-nav {
      left: 19.25%;
    }

    #shapes-index {
  
    line-height: 120px;
    }


    .shape-img-primary {
      height: 123px;
      width: 123px;
    }




}



@media only screen and (min-height: 521px) and (max-height: 579px) {


    .slideworks {
      top: 1.33%;

    }

    .artslide h1{
      font-size: 15.7px;
      padding-top: 14px;
    }

    .artslide p {
      font-size: 8px;

    }

    .artslide img {
      width: 180px;
    }



    #glass-nav-wrapper {
      height: 100vh;
    }

    .navimg {
     height: 20px;
     width: 20px;

    }

    #glass-nav {
      height: 290px;
      width: 100px;
    }


    #hidden-nav:hover #glass-nav {
      left: 30.25%;
    }


    #shapes-index {
    line-height: 120px;
    }

    .shape-img-primary {
      height: 123px;
      width: 123px;
    }




}



@media only screen and (min-height: 420px) and (max-height: 520px) {


    .slideworks {
      top: 1.33%;

    }

    .artslide h1{
      font-size: 14.33px;
      padding-top: 14px;
    }

    .artslide p {
      font-size: 8px;

    }

    .artslide img {
      width: 130px;
    }



    #glass-nav-wrapper {
      height: 100vh;
    }

    .navimg {
     height: 20px;
     width: 20px;

    }

    #glass-nav {
      height: 300px;
      width: 100px;
    }


    #hidden-nav:hover #glass-nav {
      left: 30.25%;
    }

      #shapes-index{
    line-height: 80px;
    }

     .shape-img-primary {
      height: 120px;
      width: 120px;
    }




}

@media only screen and (max-height: 419px) {


    .slideworks {
      top: 1.33%;

    }

    .artslide h1{
      font-size: 11.33px;
      padding-top: 2px;
    }

    .artslide p {
      font-size: 6.4px;

    }

    .artslide img {
      width: 94px;

    }



    #glass-nav-wrapper {
      height: 100vh;
    }


  .navimg {
     height: 20px;
     width: 20px;

    }

    #glass-nav {
      height: 300px;
      width: 100px;
    }


    #hidden-nav:hover #glass-nav {
      left: 30.25%;
    }



    #shapes-index{
    line-height: 5px;
    }

     .shape-img-primary {
      height: 120px;
      width: 120px;
    }

}







@keyframes marquee {
    from   { transform: translateY(400%) }
    to { transform: translateY(-500%) }
}



@keyframes spin-right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



@keyframes spin-right-frmcenter {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%)  rotate(-360deg); }

  33%{-webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%)  rotate(-360deg); }
  66% {
    -webkit-transform: translate(-50%, -50%)  rotate(0deg);
            transform:  translate(-50%, -50%) rotate(0deg); } 
  100%{
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%)  rotate(0deg); }
  }

@keyframes spin-right-frmcenter-regular {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%)  rotate(0deg); }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(1deg);
            transform: translate(-50%, -50%)  rotate(1deg); }

  75%{
    -webkit-transform: translate(-50%, -50%) rotate(-0.3deg);
            transform: translate(-50%, -50%)  rotate(-0.3deg); }
  
  100%{ -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%)  rotate(0deg); }
  }



@keyframes spin-left {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

