
html, body, .pieces img {
  width: 100%;
  height: 100%;
  margin: 0;
}

#preload-01 { background: url(works/2.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(works/5.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(works/7.png) no-repeat -9999px -9999px; }
#preload-04 { background: url(works/8.png) no-repeat -9999px -9999px; }
#preload-05 { background: url(works/10.png) no-repeat -9999px -9999px; }
#preload-06 { background: url(works/16.png) no-repeat -9999px -9999px; }
#preload-07 { background: url(works/trianglepainting.png) no-repeat -9999px -9999px; }

body {
  /*background-image: url("staticslow.gif");*/
  background-color: #0B0B0B;
  size: 100%;
  color: #fff;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: auto;
  position: relative;
}

div{
  margin: 0;
}

a:link{
  text-decoration: none !important;
  color: #756182;
}

a:visited{
  color: #756182;
}

.mainsplash a:link{
  text-decoration: none !important;
  color: brown;
}

.mainsplash a:visited{
  text-decoration: none !important;
  color: brown;
}


p {
}

.pieces {
	top:10%;
	left: 50%;
 	transform: translate(-50%, 0);
	position: fixed;
}

/* MAKE RESPONSIVE */

.pieces img {

	width: auto;
	height: auto;
  min-width: 220px;
  max-height: 420px;
  max-width: 95%;
  overflow: auto;
	text-align: center;
	-webkit- transition: all 3.5s;
	transition: all 1.6s;
}

.pieces img.large {
	max-width: 100%;
  max-height: auto;
	height: auto;
  overflow: auto;
	text-align: center;
	-webkit- transition: all 3.5s;
	transition: all 3.2s;
}

/* MAKE RESPONSIVE */

.oddpiece img {
	top:10%;
	left: 50%;
 	transform: translate(-50%, 0);
	position: fixed;
	width: 210px;
	height: auto;
  overflow: auto;
	text-align: center;
	-webkit- transition: all 3.5s;
	transition: all 1.6s;
}

.oddpiece img.large {
	width: 220px;
	height: auto;
	text-align: center;
  overflow: auto;
	-webkit- transition: all 3.5s;
	transition: all 3.2s;
}


.details {
  position: fixed;
  bottom: 9%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.95;
  font-size: 10.5px;
  font-style: italic;
  color: lightgrey;
  font-family: sans-serif;
  letter-spacing: 5px;
  z-index: 5;
  display:none;
}

.odddetails {
  position: fixed;
  bottom: 46%;
  right: 18%;
  opacity: 0.95;
  font-size: 10.5px;
  font-style: italic;
  color: lightgrey;
  font-family: sans-serif;
  letter-spacing: 5px;
  z-index: 5;
  display:none;
}



.spaced {
  letter-spacing: 1px;
  transition: all 0.008s ease-in;
  position: absolute;
}

.spaced:hover {
  letter-spacing: 3px;
  color: brown;
  transition: color, letter-spacing, 1s ease-in-out;
}


.mainsplash {
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  opacity: 1;
  color: #0B0B0B;
  text-shadow: 40px, 40px, 40px;
  text-align: left;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: default;
  display: inline-block;
}

.bio {
  position: absolute;
  text-align: left;
  top: 30px;
  display: none;
  color: darkgrey;
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  letter-spacing: 5px;
}

.hiddenback {
	background-color: none;
	left: 0%;
	height: 27vh;
	width: 25vw;
	top: 0%;
	opacity: 1;
	position: absolute;
	display: inline-block;
}

.hiddenback_main {
	background-color: #0B0B0B;
	left: 0%;
	height: 24vh;
	width: 28vw;
	top: 0%;
	opacity: 1;
	position: absolute;
	display: inline-block;
}


#backbtn {
  opacity: 0;
  letter-spacing: 2.5px;
  font-size: 15px;
  color: brown;
  font-family: serif;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
}


#backbtn:hover a {
	opacity: 1;
}

.hiddenlogo {
  opacity: 0;
  right: 4px;
  bottom: 1px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  position: fixed
}


pre {
	font-size: 0.5vw; color: darkgrey; opacity: 0.44;
}

#plaintext {
  font-family: serif;
  opacity: 0.70;
  text-shadow: 1px 0px 20px yellow;
}

#status {
  font-family: monospace;
  color: white;
  font-size: 17px;
  z-index: -1;
  letter-spacing: 0.4px;
  text-shadow: 1px 2px white;
  text-align: center;


}


.hiddenlogodiv {
	background-color: #0B0B0B;
	right: 0%;
	height: 25vh;
	width: 5vw;
	bottom: 0%;
	position: absolute;
	display: inline-block;
}

.hiddenback:hover #backbtn {
	opacity: 0.87;
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease; 

}

.hiddenback_main:hover .mainsplash_main {
	opacity: 0.37;
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease; 

}


.hiddenlogodiv:hover .hiddenlogo {
	opacity: 1;
	-webkit-transition: all 2s ease;
  	-moz-transition: all 2s ease;
  	-o-transition: all 2s ease;
  	transition: all 2s ease; 

}



#paintinglayers{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 34%;
  left: 30%;
}

#paintingbottomimg {
  z-index: 0;
  /*animation: spin-left 40s linear infinite;*/

}

#paintingtopimg {
  position: fixed;
  transform: rotate(-22deg);
  -webkit-filter: saturate(160%); /* Safari 6.0 - 9.0 */
  filter: saturate(160%);
  z-index: 2;
  top: 31%;
  left: 30%;
  height: 120px;
  width: auto;

  /* Glitter Gif*/

  /*transform: rotate(30deg);
  left: 32%;
  top: 37%;
  height: 139px;
  width: 30px;
  top: 31%;
  left: 68%;*/



  /*change bg on hover*/
}

#paintingtopimg:hover {
}

#paintingbottomimg:hover {
  opacity: 0.98;
}


#products {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 62%;

}

#productsimg {
  /*animation: spin-right 18s linear infinite; replaced with anime.js */
  filter: brightness(90%);
}

#productsimg:hover {
  opacity: 0.98;
}


.marquee {
    animation: marquee 10s linear infinite;

}

#fashion {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
}

#productvid {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 100px;
  cursor: pointer;
  border-radius: 15%;
  width: 475px;
  height: auto;
}

#productvid:hover {
  opacity: 0.9;
  animation: spin-right-frmcenter-regular 0.5s linear;
}



@media only screen and (max-width: 900px) {

#productvid {
  width:  80vw;
  height: auto;
}

.oddpiece img {
  top:10%;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  width: 170px;
  height: auto;
  overflow: auto;
  text-align: center;
  -webkit- transition: all 3.5s;
  transition: all 1.6s;
  border: 1.7px solid #191919;
  border-radius: 0.5px;
  padding: 28px;

 
}

.oddpiece img.large {
  width: 178px;
  height: auto;
  text-align: center;
  overflow: auto;
  -webkit- transition: all 3.5s;
  transition: all 3.2s;
  border: none;
  border: 1.7px solid black;
  border-radius: 0.5px;
  padding: 10px;
}

.pieces {
  top: 26%;
  left: 39.5%;
  width: 200px;
  transform: translate(-50%, 0);
  position: fixed;

}


.pieces img {

  width: auto;
  height: auto;
  max-width: 95%;
  overflow: auto;
  text-align: center;
  -webkit- transition: all 3.5s;
  transition: all 1.6s;
  border: 1.7px solid #191919;
  border-radius: 0.5px;
  padding: 28px;
}

.pieces img.large {
  max-width: 100%;
  max-height: auto;
  width: 300px;
  height: auto;
  overflow: auto;
  text-align: center;
  -webkit- transition: all 3.5s;
  transition: all 3.2s;
  border: 1.7px solid black;
  border-radius: 1px;
}

.details {
  position: fixed;
  bottom: 15%;
  left: 53.5%;
  transform: translate(-50%, 0);
  opacity: 0.95;
  font-size: 9px;
  font-style: italic;
  color: lightgrey;
  font-family: sans-serif;
  letter-spacing: 5px;
  z-index: 5;
  display:none;
}

 .odddetails {
  top: 90%;
  font-size: 9px;
 }

 #woodpiece{
  top: 17%;
 }

 #skullpiece {
  top: 34%;
 }

 #paintinglayers{
  top: 28%;
  left: 50%;
 }

 #products {
  top: 71%;
  left: 50%;

 }
 #productsimg {
  height: 240px;
  width: auto;
 }
 #status {
  position: absolute;
  width: 100%;
  left: 25%;
  font-family: sans-serif;
  color: blue;
 }
 #fashion {
  position: absolute;
  left: 50%;
 }

}





@keyframes marquee {
    from   { transform: translateY(400%) }
    to { transform: translateY(-500%) }
}



@keyframes spin-right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



@keyframes spin-right-frmcenter {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%)  rotate(-360deg); }

  33%{-webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%)  rotate(-360deg); }
  66% {
    -webkit-transform: translate(-50%, -50%)  rotate(0deg);
            transform:  translate(-50%, -50%) rotate(0deg); } 
  100%{
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%)  rotate(0deg); }
  }

@keyframes spin-right-frmcenter-regular {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%)  rotate(0deg); }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(1deg);
            transform: translate(-50%, -50%)  rotate(1deg); }

  75%{
    -webkit-transform: translate(-50%, -50%) rotate(-0.3deg);
            transform: translate(-50%, -50%)  rotate(-0.3deg); }
  
  100%{ -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%)  rotate(0deg); }
  }



@keyframes spin-left {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

