
html, body, .pieces img {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  /*background-image: url("staticslow.gif");*/
  background-color: #0B0B0B;
  size: 100%;
  color: #fff;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: auto;
  position: relative;
}
div{
  margin: 0;
}

a:link{
  text-decoration: none !important;
  color: #756182;
}

a:visited{
  color: #756182;

}

.mainsplash a:link{
  text-decoration: none !important;
  color: brown;
}

.mainsplash a:visited{
  text-decoration: none !important;
  color: brown;
}


p {
}

.pieces {
	top:10%;
	left: 50%;
 	transform: translate(-50%, 0);
	position: fixed;

}

/* MAKE RESPONSIVE */

.pieces img {

	width: auto;
	height: auto;
  min-width: 220px;
  max-height: 420px;
  max-width: 95%;
  overflow: auto;
	text-align: center;
	-webkit- transition: all 3.5s;
	transition: all 1.6s;
}

.pieces img.large {
	max-width: 100%;
  max-height: auto;
	height: auto;
  overflow: auto;
	text-align: center;
	-webkit- transition: all 3.5s;
	transition: all 3.2s;
}

/* MAKE RESPONSIVE */

.oddpiece img {
	top:10%;
	left: 50%;
 	transform: translate(-50%, 0);
	position: fixed;
	width: 210px;
	height: auto;
  overflow: auto;
	text-align: center;
	-webkit- transition: all 3.5s;
	transition: all 1.6s;
}

.oddpiece img.large {
	width: 220px;
	height: auto;
	text-align: center;
  overflow: auto;
	-webkit- transition: all 3.5s;
	transition: all 3.2s;
}



.details {
  position: fixed;
  bottom: 9%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.95;
  font-size: 10.5px;
  font-style: italic;
  color: lightgrey;
  font-family: sans-serif;
  letter-spacing: 5px;
  z-index: 5;
  display:none;
}

.odddetails {
  position: fixed;
  bottom: 46%;
  right: 18%;
  opacity: 0.95;
  font-size: 10.5px;
  font-style: italic;
  color: lightgrey;
  font-family: sans-serif;
  letter-spacing: 5px;
  z-index: 5;
  display:none;
}



.spaced {
  letter-spacing: 1px;
  transition: all 0.008s ease-in;
  position: absolute;
}

.spaced:hover {
  letter-spacing: 3px;
  color: brown;
  transition: color, letter-spacing, 1s ease-in-out;
}


.mainsplash {
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  opacity: 1;
  color: #0B0B0B;
  text-shadow: 40px, 40px, 40px;
  text-align: left;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: default;
  display: inline-block;
}

.bio {
  position: absolute;
  text-align: left;
  top: 30px;
  display: none;
  color: darkgrey;
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  letter-spacing: 5px;
}

.hiddenback {
	background-color: #0B0B0B;
	left: 0%;
	height: 27vh;
	width: 25vw;
	top: 0%;
	opacity: 1;
	position: absolute;
	display: inline-block;
}

.hiddenback_main {
	background-color: #0B0B0B;
	left: 0%;
	height: 24vh;
	width: 28vw;
	top: 0%;
	opacity: 1;
	position: absolute;
	display: inline-block;
}


#backbtn {
  opacity: 0;
  letter-spacing: 2.5px;
  font-size: 15px;
  color: brown;
  font-family: serif;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
}


#backbtn:hover a {
	opacity: 1;
}

.hiddenlogo {
  opacity: 0;
  right: 4px;
  bottom: 1px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  position: fixed
}


pre {
	font-size: 0.5vw; color: darkgrey; opacity: 0.44;
}

#plaintext {
  font-family: serif;
  opacity: 0.70;
  text-shadow: 1px 0px 20px yellow;
}



.hiddenlogodiv {
	background-color: #0B0B0B;
	right: 0%;
	height: 25vh;
	width: 5vw;
	bottom: 0%;
	position: absolute;
	display: inline-block;
}

.hiddenback:hover #backbtn {
	opacity: 0.87;
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease; 

}

.hiddenback_main:hover .mainsplash_main {
	opacity: 0.37;
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease; 

}


.hiddenlogodiv:hover .hiddenlogo {
	opacity: 1;
	-webkit-transition: all 2s ease;
  	-moz-transition: all 2s ease;
  	-o-transition: all 2s ease;
  	transition: all 2s ease; 

}



